In [8]:
import pandas as pd
import sqlite3

In [12]:
import sqlite3

conn = sqlite3.connect("altran.db")
c = conn.cursor()

for row in c.execute("SELECT * FROM altran"):
    print(row)

conn.close()

OperationalError: no such table: altran

In [2]:
columns = ['timestamp','date','lat','lng','signal_inst','signal_min','signal_max','signal_avg','carrier','fullCarrier','status','net','net_type','lac','cid','psc','speed','satellites','precision1','provider','activity','incident','downloadSpeed','uploadSpeed']
data = pd.read_csv('/Users/krishna/Educational/HackUPC/data_export_cobercat/bigfile.csv', names = columns)

/usr/local/lib/python2.7/site-packages/pandas/io/parsers.py:1159: DtypeWarning: Columns (0,2,3,4,5,6,7,10,11,13,14,15,16,17,18,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [3]:
data.shape

(9664100, 24)

In [4]:
data.describe()

,timestamp,date,lat,lng,signal_inst,signal_min,signal_max,signal_avg,carrier,fullCarrier,...,cid,psc,speed,satellites,precision1,provider,activity,incident,downloadSpeed,uploadSpeed
count,9664100,9664100,9664100.00000,9664100.00000,9664100,9664089,9664089,9664089,9523974,9523974,...,9664089,9664088,9664088,9664088,9664086,9664087,9664087,2109969,3773,3773
unique,8957135,8954930,596670.00000,777944.00000,77,71,69,146,283,268,...,203177,931,4332,62,828,9,13,5,162,165
top,1449320699000,2015-12-05 13:20:16.000000,41.44458,2.85005,14,11,31,11,Movistar,movistar,...,-1,-1,0,0,12,gps,0,null,null,null
freq,48,48,11890.00000,4309.00000,576377,542368,621384,572518,2955643,3967584,...,228243,5738137,911532,1386024,413494,8456683,4810286,2109051,3608,3608

In [ ]:
# Questions
# When is a data point created
data['incident'].hist()

In [5]:
data['incident'].value_counts()

null              2109051
callImpossible        409
callFailed            306
other                 202
incident                1
dtype: int64